{% extends "base.html" %}

{% block app_content %}
{% if input==1 %}
<section class="section" style="margin-top:3%;text-align: center;"  id="q1">
	<div>
		
        <h2>Choose an action</h2>
        <form action="/mag_pie" method="post">
            <button class="btn btn-lg" type="submit">
                1. Data with range of magnitudes - Pie chart
            </button>
        </form>
		<br>

		<form action="/mag_bar" method="post">
			<button class="btn btn-lg" type="submit">
                2. Data with range of magnitudes - Bar graph
			</button><br>
			
		</form>
		<br>
		<form action="/mag_scatter" method="post">
			
			<button class="btn btn-lg" type="submit">
                3. Data for Magnitude vs Depth - Scatter graph
			</button><br>

        </form>
        
    </div>
</section>
{% endif %}



{% endblock %}